# Explorando la base de datos SQLite

In [5]:
import sqlite3
import pandas as pd 

# 1. Connect to the SQLite database file
db_path = "/home/jupyter/mlruns.db"  
conn = sqlite3.connect(db_path) # Conexión a la base de datos 

# 2. Create a cursor object to execute SQL queries
cursor = conn.cursor()

In [6]:
# Visualización de las tablas en la BD 
# Query to get all table names
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")

# Fetch all table names
tables = cursor.fetchall()

In [7]:
tables

[('experiments',),
 ('alembic_version',),
 ('experiment_tags',),
 ('registered_models',),
 ('runs',),
 ('registered_model_tags',),
 ('model_version_tags',),
 ('model_versions',),
 ('latest_metrics',),
 ('metrics',),
 ('registered_model_aliases',),
 ('datasets',),
 ('inputs',),
 ('input_tags',),
 ('params',),
 ('trace_info',),
 ('trace_tags',),
 ('trace_request_metadata',),
 ('tags',)]

**Visualización del contenido de tablas**

In [8]:
# Load the 'experiments' table into a Pandas DataFrame
experiments_df = pd.read_sql_query("SELECT * FROM experiments;", conn)
experiments_df

,experiment_id,name,artifact_location,lifecycle_stage,creation_time,last_update_time
0,0,Default,gs://mlflow_mlops/0,active,1729146448848,1729146448848
1,1,Energy Efficient Model,gs://mlflow_mlops/1,deleted,1729173018706,1729174101144
2,2,Energy Efficient,gs://mlflow_mlops/2,active,1729174152908,1729174152908